<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Welcome to the SEAS video streaming application "Vidhyapak". Here you can explore the courses of any SEAS professor.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                        <li th:if="${isAdmin}"><a th:href="@{/professors/all}" class="text-white">Professor List</a></li>
                        <li th:if="${isStudent}"><a th:href="@{/account/update/(username=${username})}" class="text-white">Show Account Info</a></li>
                        <li th:if="${isProfessor}"><a th:href="@{/video/upload}" class="text-white">Upload Video</a></li>
                        <li th:if="${isProfessor}"><a th:href="@{/courses/all}" class="text-white">Add Course</a></li>
                        <li><a th:href="@{/logout}" class="text-white">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a th:href="@{/homepage}" class="navbar-brand d-flex align-items-center">
                <strong>Vidhyapak</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <form th:action="@{/search/videos}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Search String..." aria-label="search" aria-describedby="basic-addon2" name="searchStr">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4" th:each="cr:${courses}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"
                                th:text="${cr.courseName + ' (' + cr.courseCode + ')'}">Course
                                Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted"
                                th:text="${'Semester: ' + cr.courseSemester + ' ' + cr.courseYear}">Course
                                Semester
                            </h6>
                            <p class="card-text" th:text="${'Type: ' + cr.courseType}">Course Type</p>
                            <br>
                            <a th:href="@{/video/course/(id=${cr.courseId})}" class="card-link">Open
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


</body>
</html>