<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Create Student Account Form</title>
</head>
<body>
<main role="main" class="container">
    <h2>Enter Student Details</h2>
    <form method="post" th:action="@{/account/save}">
        <div class="form-group">
            <label for="personFName">First Name</label>
            <input type="text" class="form-control" id="personFName" placeholder="Enter First Name" name="personFirstName">
        </div>
        <div class="form-group">
            <label for="personMName">Middle Name</label>
            <input type="text" class="form-control" id="personMName" placeholder="Enter Middle Name" name="personMiddleName">
        </div>
        <div class="form-group">
            <label for="personLName">Last Name</label>
            <input type="text" class="form-control" id="personLName" placeholder="Enter Last Name" name="personLastName">
        </div>
        <div class="form-group">
            <label for="personUName">User Name</label>
            <input type="text" class="form-control" id="personUName" placeholder="Enter User Name" name="personUserName">
            <small id="Help" class="form-text text-muted">You will use this username for login.</small>
            <small th:if="${usernameExist}" id="Invalid Username" class="form-text text-warning">Username already exist .</small>
        </div>
        <div class="form-group">
            <label for="personPass">Password</label>
            <input type="password" class="form-control" id="personPass" placeholder="Enter Password" name="personPassword">
        </div>
        <div class="form-group">
            <label for="personDOB">Date of Birth</label>
            <input type="date" class="form-control" id="personDOB" placeholder="Enter Date of Birth" name="personDOB">
        </div>
        <div class="form-group">
            <label for="personCon">Contact Number</label>
            <input type="text" class="form-control" id="personCon" placeholder="Enter Contact Number"
                   name="personContactNumber">
        </div>
        <div class="form-group">
            <label for="personEmail">Email</label>
            <input type="text" class="form-control" id="personEmail" placeholder="Enter Email" name="personEmail">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personGender" id="inlineRadio1" value="male">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="personGender" id="inlineRadio2" value="female">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
        <div class="form-group">
            <label for="studentEnrol">Student Enrollment Number</label>
            <input type="text" class="form-control" id="studentEnrol" placeholder="Enter Enrollment Number" name="studentEnrollNum">
        </div>
        <div class="form-group">
            <label for="studentEnrolYear">Enrollment Year</label>
            <input type="text" class="form-control" id="studentEnrolYear" placeholder="Enter Enrollment Year" name="studentAdmitYear">
        </div>

        <div th:if="${notvalid}" class="alert alert-primary" role="alert">
            Please enter valid form delails.
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

</body>
</html>